.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: min-content;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
    cursor: pointer;
}

.card img {
    width: 130px;
    height: 130px;
    transition: 0.5s;
}

.card p {
    font-size: 1.8em;
    height: 1.2em;
}

.card img:hover {
    background-color: chocolate;
}

.card:hover {
    transform: scale(1.1);
}